.applyjob{
    padding: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: tomato;
    background:url(../img/apply.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.applyjobinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}